<!DOCTYPE html>
<html>
<body>
<style>
body    {background-color:black}

h1	{
	color:lime;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:x-large;
	}

h3	{
	color:lime;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:large;
	}

a    	{
	color:lime;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:large;
	}
</style>


<h1 align="center">Rohan and Darin's Project</h1>
<br>


<h3>def Encode():</h3>
<a href="/encodemessage">Encode a message in a picture</a>
<br>
<a href="https://calm-coast-4020.herokuapp.com/hidepicture">Hide a picture in another picture<a/>
<br>
<br>

<h3>def Decode():</h3>
<a href="https://calm-coast-4020.herokuapp.com/decodemessage">Decode a message from a picture</a>
<br>
<a href="https://calm-coast-4020.herokuapp.com/recoverpicture">Recover a picture from another picture<a/>


</body>
</html>
